<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
    <div class="logo">
        MySite
    </div>
            <nav>
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='icons/phone.svg') }}" alt="Телефон">
                </a>
                <a href="{{ url_for('about') }}">
                    <img src="{{ url_for('static', filename='icons/shopping-cart.svg') }}" alt="Кошик">
                </a>
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='icons/user-round.svg') }}" alt="Увійти">
                </a>
            </nav>
        </header>
    </body>
</html>